:root {
  --iris-color: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8E8F99;
  --navyblue-modal: rgba(46, 47, 66, 0.40);

}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**---------HERDER-------*/

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  color: var(--iris-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}
.header-logo-accent {
  color: var(--navyblue);
}
.header-list {
  display: flex;
  gap: 40px;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}
.header-list-link {
  color: var(--navyblue);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--ocean);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  bottom: -1px;
}
.active {
  color: var(--ocean);
}
.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address-list-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--ocean);
}

/**---------HERO-------*/

.hero {
  background: var(--navyblue);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-titel {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  background-color: var(--iris-color);
  color: var(--white);
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/**---------principles-------*/

.principles {
  padding: 120px 0px;
}
.principles-list {
  display: flex;
  gap: 24px;
}

.principles-item {
  width: calc((100% - 24px * 3) / 4);
}
.principles-block {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.principles-icon {
  width: 64px;
  height: 64px;

}
.principles-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}
.principles-item-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**---------technologies-------*/

.technologies {
  padding-bottom: 120px;
}
.technologies-list {
  display: flex;
  gap: 24px;
}
.technologies-item {
  width: calc((100% - 24px * 2) / 3);
}
.technologies-titel {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/**---------team-------*/
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-container {
  padding: 32px 0px;
}
.team-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--cloud);
}
.team-socials-link:is(:hover, :focus) {
  background-color: #404bbf;
}
.team-socials-icon {
  fill: #f4f4fd;
}
.team-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white);
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item-text {
  color: var(--slate);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 8px;
}

/**---------costomers-------*/

.costomers {
  padding: 120px 0;
}

.costomers-titel {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.costomers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.costomers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.costomers-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  color: var(--lightslate);
}
.costomers-block:hover, :focus {
  color: var(--ocean);
}
.costomers-block:hover, :focus {
  border-color: var(--ocean);
}
.costomers-icon {
  fill: currentColor; 
}
/**---------footer-------*/ 

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-container{
  margin-right: 120px 
}
.footer-logo { 
  color: var(--iris-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-accent {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-socials-text {
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}
.footer-socials {
  display: flex;
  gap: 16px;
}
.footer-socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:is(:hover, :focus) {
  background-color: #31D0AA;
} 


.footer-form-title {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}


.footer-subscribe {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-email {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-email::placeholder {
  color: var(--white); 
  font-size: 12px;
  font-weight: 400;
  line-height: 2; 
  letter-spacing: 0.02em;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--iris-color);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  outline: transparent;
  padding: 8px 24px;  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.footer-input-icon {
  margin-left: 16px;
  fill: var(--white);
}

/**---------portfolio-------*/

.product {
  padding-top: 96px;
  padding-bottom: 120px;
}
.product-list {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.product-btn {
  color: var(--iris-color);
  background-color: var(--cloud);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-btn:hover,
.product-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: none;
}
.programs-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.programs-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.programs-item:hover {
  box-shadow: px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }
.programs-item:focus {
  box-shadow: px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }
.programs-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.cover-container {
  position: relative;
  overflow: hidden;
}
.pfograms-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pfograms-item-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.pfograms-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pfograms-item-link:hover .cover-text {
  transform: translateY(0%);
}
.pfograms-item-link:focus .cover-text {
  transform: translateY(0%);
}

.programs-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}

.programs-text {
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}


/**---------modal-------*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  padding: 72px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(5);
}

.modal-icon {
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  padding: 0; 
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid  rgba(0, 0, 0, 0.10);
  background-color: #E7E9FC;
  fill: var(--navyblue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn:hover {
  background-color: var(--ocean);
  border: none; 
}
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.modal-close-btn:is(:hover, :focus) .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  fill: #ffffff;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 16px;
} 
.modal-input {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  padding-left: 38px;
}

.modal-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--iris-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--iris-color);
}

.modal-field {
  margin-bottom: 8px;
}

.input-label {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-textarea {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  width: 100%;
  height: 120px;
  background-color: transparent;
  color: var(--navyblue-modal);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--iris-color);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.40);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.modal-textarea:focus::placeholder {
  opacity: 0;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-form-button {
  border-radius: 4px;
  background: var(--iris-color);
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:is(:hover, :focus) {
  background-color: var(--ocean);
}

.modal-field-check {
  margin-bottom: 24px;
}
.form-check-text {
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-privacy-link {
  color: var(--iris-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.form-check-text-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
}
.modal-check  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.form-check-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  display: inline-flex;
  align-items: center;
  justify-content: center;
} 

.modal-check:checked +.form-check-text > .form-check-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}





